<figure>
  <img src="{{image}}"/>
  <div class="overlay">
    <img src="/images/nav-next.png"/>
  </div>
  <figcaption>
    <div>
      <h2>{{title}}</h2>
      <p>${{format_price price}}</p>
    </div>
    </figcaption>
</figure>  
<a href="">
  <div>+ Add to Cart</div>
</a>
