@import "whitespace-reset.css";
html {
  background: #000;
}
#container {
  width: 1000px;
  margin: 0 auto;
}
body {
  font: normal 16px "Droid Sans", sans-serif;
  color: #fff;
  background-repeat: repeat repeat;
  background-image: url("/images/background-image.png");
}
header {
  font-size: 10px;
  padding: 55px 0;
  text-transform: uppercase;
}
header .cart_summary {
  vertical-align: middle;
  line-height: 28px;
}
header .cart_summary h3 {
  padding: 0 0 0 14px;
  display: inline-block;
}
header .cart_summary a {
  color: #fff;
  padding: 0 18px 0 18px;
  float: right;
  background: linear-gradient(to bottom, #d60041, #a00030);
  color: #fff;
  padding: 0 18px 0 0;
  float: right;
  position: relative;
  text-align: right;
  height: 28px;
  width: 83px;
}
header .cart_summary a:hover {
  background: linear-gradient(to top, #d60041, #a00030);
}
header .cart_summary a:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-top: 14px solid #1f1f1f;
  border-left: 14px solid #1f1f1f;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
header .cart_summary a:before {
  border-top: 14px solid #000;
  border-left: 14px solid #000;
}
header .cart_summary a span {
  font-size: 14px;
}
#checkout .menu_img_before,
#checkout .menu_img_after {
  height: 50px;
}
.cart_summary {
  float: right;
  display: inline-block;
  background: #000;
  padding: none;
}
.cart_summary h3 {
  color: #bababa;
  font-weight: bold;
  padding: 20px 14px 10px 0px;
  display: block;
}
.cart_summary h3 + p {
  font-size: 30px;
}
.cart_summary a + a {
  color: #fff;
  padding: 0 18px 0 18px;
  float: right;
  background: linear-gradient(to bottom, #d60041, #a00030);
  color: #fff;
  padding: 0 18px 0 0;
  float: right;
  position: relative;
  text-align: right;
  height: 28px;
  width: 83px;
}
.cart_summary a + a:hover {
  background: linear-gradient(to top, #d60041, #a00030);
}
.cart_summary a + a:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-top: 14px solid #1f1f1f;
  border-left: 14px solid #1f1f1f;
  border-right: 14px solid transparent;
  border-bottom: 14px solid transparent;
}
#cart_content {
  padding: 50px 100px;
  color: #2e2e2e;
}
#cart_content h1 {
  font-size: 36px;
  padding-bottom: 60px;
}
#cart_content table {
  border-collapse: collapse;
  margin-bottom: 25px;
}
#cart_content table thead tr td {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #4a4a4a;
}
#cart_content table tr {
  border-bottom: 1px solid #dadada;
  margin: 0;
  max-height: 100px;
  overflow: hidden;
}
#cart_content table tr .img_cover {
  height: 100px;
  width: 200px;
  overflow: hidden;
}
#cart_content table tr td {
  padding: 0;
  margin: 0;
  font-size: 21px;
  width: 200px;
}
#cart_content table tr td input[type="number"] {
  width: 80px;
  height: 25px;
}
#cart_content table tr td:nth-child(2) {
  padding-left: 40px;
  padding-right: 80px;
  width: 175px;
  color: #2e2e2e;
}
#cart_content table tr td:last-child {
  text-align: right;
  width: 100px;
  color: #2e2e2e;
}
#cart_content p {
  font-size: 26px;
  text-align: right;
}
#cart_content p span {
  font-size: 10px;
  color: #2e2e2e;
  padding-right: 15px;
  text-transform: uppercase;
}
#cart_content #checkout_buttons div {
  margin-top: 66px;
  display: inline-block;
  width: 670px;
  height: 50px;
  font-size: 13px;
  text-align: right;
  padding-right: 20px;
  line-height: 50px;
  text-transform: uppercase;
  box-sizing: border-box;
}
#cart_content #checkout_buttons div + div {
  text-align: center;
  float: right;
  color: #fff;
  padding: 0 18px 0 18px;
  float: right;
  background: linear-gradient(to bottom, #d60041, #a00030);
  width: 130px;
}
#cart_content #checkout_buttons div + div:hover {
  background: linear-gradient(to top, #d60041, #a00030);
}
#cart_content #checkout_buttons div + div a {
  color: #fff;
}
.cart_preview {
  font-size: 10px;
  text-transform: uppercase;
  border-top: 0.5px solid #787878;
  margin-bottom: 22px;
  max-height: 120px;
  background: #000;
}
.cart_preview ul {
  overflow: hidden;
  width: 800px;
  display: inline-block;
}
.cart_preview ul li {
  display: inline-block;
}
.cart_preview ul li figure {
  position: relative;
  width: 100px;
}
.cart_preview ul li figure img {
  height: 100px;
  width: 100px;
}
.cart_preview ul li figure .overlay {
  height: 100px;
  width: 100px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
}
.cart_preview ul li figure .overlay img {
  height: 20px;
  width: 20px;
  position: relative;
  top: 40px;
  left: 40px;
}
.cart_preview ul li figure .overlay img {
  width: auto;
  position: relative;
  vertical-align: middle;
}
.cart_preview ul li figure:hover {
  pointer: pointer;
}
.cart_preview ul li figure:hover .overlay {
  opacity: 1;
}
.cart_preview ul li figure figcaption {
  text-align: right;
  padding-top: 4px;
  font-size: 10px;
  color: #fff;
  background: #000;
}
.cart_preview .cart_summary {
  width: 200px;
  display: inline-block;
  background: #1f1f1f;
  height: 120px;
  padding: 0 0 0 12px;
  box-sizing: border-box;
}
.cart_preview .cart_summary a {
  line-height: 30px;
  vertical-align: middle;
}
.cart_preview .cart_summary p + a {
  position: relative;
  left: 20px;
}
ul {
  padding: 0;
}
main li {
  display: inline-block;
  text-align: center;
  margin-bottom: 22px;
  background: #fff;
  font-size: 18px;
  font-weight: normal;
}
main li figure {
  position: relative;
  width: 200px;
  text-align: center;
}
main li figure img {
  display: block;
  width: 100%;
}
main li figure .overlay {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  opacity: 0;
}
main li figure .overlay img {
  width: auto;
  position: relative;
  top: 88px;
  left: 95px;
  vertical-align: middle;
}
main li figure + a div {
  -webkit-box-shadow: inset -10px 0px 5px -6px #787878;
  box-shadow: inset -5px 0px 5px -6px #787878;
  color: #d60041;
  padding: 12px 0;
  font-size: 16px;
}
main li figure + a div:hover {
  background: #d60041;
  color: #fff;
}
main li figure:hover {
  pointer: pointer;
}
main li figure:hover h2 {
  color: #000;
}
main li figure:hover .overlay {
  opacity: 1;
}
main li figcaption {
  color: #000;
}
main li figcaption div {
  color: #ab7829;
  padding: 32px 0;
  border-bottom: 1px dotted #787878;
  -webkit-box-shadow: inset -10px 0px 5px -6px #787878;
  box-shadow: inset -5px 0px 5px -6px #787878;
}
main li figcaption div p {
  color: #787878;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: #d60041;
}
.menu_img_before,
.menu_img_after {
  background: url("/images/sushi-preview.png");
  height: 200px;
  display: block;
}
.food_item {
  height: 600px;
  box-sizing: border-box;
}
.food_item #menu_content {
  height: 200px;
}
.food_item #menu_content #menu_info {
  display: inline-block;
}
.food_item #menu_content #menu_info div,
.food_item #menu_content #menu_info table {
  display: inline-block;
  color: #2e2e2e;
  background: #fff;
}
.food_item #menu_content #menu_info #menu_data {
  -webkit-box-shadow: inset -10px 0px 5px -6px #787878;
  box-shadow: inset -5px 0px 5px -6px #787878;
  vertical-align: top;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
}
.food_item #menu_content #menu_info #menu_data h2 {
  padding: 30px;
  padding-bottom: 10px;
  font-size: 36px;
}
.food_item #menu_content #menu_info #menu_data p {
  height: 44px;
  padding: 0 30px;
  font-size: 12px;
}
.food_item #menu_content #menu_info #menu_data #menu_cart_info {
  width: 100%;
  height: 73px;
  padding: 20px 30px;
  border-top: 0.5px dotted #787878;
  -webkit-box-shadow: inset -10px 0px 5px -6px #787878;
  box-shadow: inset -5px 0px 5px -6px #787878;
  box-sizing: border-box;
}
.food_item #menu_content #menu_info #menu_data #menu_cart_info .price {
  font-size: 30px;
  color: #787878;
}
.food_item #menu_content #menu_info #menu_data #menu_cart_info a div {
  color: #fff;
  padding: 0 18px 0 18px;
  float: right;
  background: linear-gradient(to bottom, #d60041, #a00030);
  width: 111px;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  line-height: 30px;
  text-align: center;
}
.food_item #menu_content #menu_info #menu_data #menu_cart_info a div:hover {
  background: linear-gradient(to top, #d60041, #a00030);
}
.food_item #menu_content .previous,
.food_item #menu_content .next {
  display: inline-block;
  width: 100px;
  height: 200px;
}
.food_item #menu_content .previous {
  background: #000 url("/images/nav-prev.png") no-repeat center;
}
.food_item #menu_content .previous:hover {
  background: #d60041 url("/images/nav-prev.png") no-repeat center;
}
.food_item #menu_content .next {
  background: #000 url("/images/nav-next.png") no-repeat center;
}
.food_item #menu_content .next:hover {
  background: #d60041 url("/images/nav-next.png") no-repeat center;
}
.food_item table {
  height: 200px;
  width: 200px;
  padding: 10px 20px;
  box-sizing: border-box;
}
.food_item table th {
  color: #3c3c3c;
  font-size: 13px;
  padding: 20px 0;
}
.food_item table td {
  font-size: 12px;
}
.food_item table td:first-child {
  color: #787878;
}
#cart_content {
  display: block;
  background: #fff;
}
footer {
  clear: both;
  padding: 20px 0;
  font-size: 12px;
  color: #787878;
}
footer p {
  margin: 10px 0;
}
footer span {
  color: #d60041;
}
